@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-link-dt {
    @apply pb-1 duration-100 border-transparent border-b-4 hover:border-white text-white text-lg;
  }

  .nav-link-mob {
    @apply text-dark-blue text-lg pb-1 duration-100 border-transparent border-b-4 hover:border-dark-blue active:border-desat-blue active:text-desat-blue;
  }
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

/* Drop down classes */

.triangle {
  width: 0;
  height: 0;
  border-right: 20px solid white;
  border-bottom: 20px solid transparent;
  transform: rotate(90deg);
}

.dropdown {
  visibility: hidden;
  opacity: 0.3;
  transform: rotateX(-90deg);
  transform-origin: top center;
  transition: 0.2s all ease-out;
}

.dropdown.open {
  visibility: visible;
  opacity: 1;
  transform: rotateX(0deg);
}

.dropdown::before {
  content: "";
  width: 0;
  height: 0;
  border-right: 20px solid white;
  border-bottom: 20px solid transparent;
  transform: rotate(90deg);
  position: absolute;
  top: -7%;
  right: 0;
}

/* Learn more links */

.learn-more-line {
  height: 9px;
  background-color: #fdf5c4;
  width: 133px;
  transform: translate(-1px, -11px);
  position: relative;
  z-index: 0;
  border-radius: 9999px;
}

/* hamburger menu (See @applies above) */

.hamburger {
  position: relative;
  height: 20px;
  width: 28px;
}

.ham-line {
  height: 3px;
  width: 100%;
  position: absolute;
  background-color: #fff;
  left: 0;
  transition: 0.2s;
}

.ham-line:nth-child(1) {
  top: 0px;
}
.ham-line:nth-child(2) {
  top: 10px;
}
.ham-line:nth-child(3) {
  top: 20px;
}

.open-ham-menu.hamburger .ham-line:nth-child(1) {
  transform: translateY(10px);
}

.open-ham-menu.hamburger .ham-line:nth-child(3) {
  transform: translateY(-10px);
}
